.logo {
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    
}

.title {
    display: inline-block;
    vertical-align: middle;
    
}

.container {
    width: 80%;
    margin: auto;
}

.add_task,.add_section {
    border-style: solid;
    border-width: 1px;
    width: max-content;
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
}
.add_task{
    background-color: blue;
    border-color: blue;
    color: aliceblue;
}
.add_section{
    border-color: grey;
    color: grey;
}

.task1, .editorial {
    display: inline-block;
    vertical-align: middle;
}
#con_1, #con_2, #con_3, #con_4, #con_5, #con_6, #con_7, #con_8{
    display: block;
}
.editorial{
    border-style: solid;
    border-width:  6px;
    width: max-content;
    background-color: blue;
    border-color: blue;
    color: aliceblue;
    border-radius: 10px;
    margin: 2rem;
}

.slash{
    border-radius: 50%;
    border-width:  1px;
    border-style: solid;
    border-color: green;
    color: green;
    text-align: center;
}

.x{
    border-radius: 50%;
    border-width:  1px;
    border-style: solid;
    border-color: red;
    color: red;
    text-align: center;
}



.task2, .q1_goals, .recruiting, .mobile{
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    
}

.q1_goals {
    border-style: solid;
    border-width:  6px;
    width: max-content;
    background-color:gray;
    border-color: grey;
    color: aliceblue;
    border-radius: 10px;
}

.recruiting{
    border-style: solid;
    border-width:  6px;
    width: max-content;
    background-color: rgb(0, 110, 255);
    border-color: rgb(0, 110, 255);
    color: aliceblue;
    border-radius: 10px;
}

.mobile{
    border-style: solid;
    border-width:  6px;
    width: max-content;
    background-color: orange;
    border-color: orange;
    color: aliceblue;
    border-radius: 10px;

}

.task3, .website, .salve{
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.website{
    border-style: solid;
    border-width:  6px;
    width: max-content;
    background-color: pink;
    border-color: pink;
    color: aliceblue;
    border-radius: 10px;
}

.salve{
    border-style: solid;
    border-width:  6px;
    width: max-content;
    background-color: greenyellow;
    border-color: greenyellow;
    color: aliceblue;
    border-radius: 10px;
}
    

